In [211]:
import pandas as pd
import pymysql as pymysql

debug = True

start_date = '2019-01-01'
end_date = '2019-02-01'
resample_interval = '5T'

host = "mariadb.mmto.arizona.edu"
database = "measurements"
table = 'bump'
usr = "webuser"
pw = "Clear7Skies!"

conn = pymysql.connect(host=host, port=3306, user=usr, passwd=pw, db=database)

In [212]:
#  This gets the individual e-series thermocouples parameter names
def get_names(connection):
    df = None
    try:
        # Read data
        with connection.cursor() as cursor:
            sql = f"""SELECT ds_name FROM aaa_parameters WHERE ds_name LIKE 'cell_e_series_tc%'"""
            df = pd.read_sql(sql, conn)
    except Exception as e:
        print(f"Error: {e}")
    return df

In [213]:
def get_data(connection, param, database, start_date, end_date):
    df = None
    try:
        # Read data
        with connection.cursor() as cursor:
            sql = f"""SELECT from_unixtime(timestamp/1000) as ts, value as {param} FROM {param} 
                  WHERE timestamp >= UNIX_TIMESTAMP('{start_date}') * 1000
                  AND timestamp < UNIX_TIMESTAMP('{end_date}') * 1000;"""
            # Using a median filter to remove spikes.  Modify as you wish.
            df = pd.read_sql(sql, conn, index_col='ts').resample(resample_interval).median()
    except Exception as e:
        print(f"Error: {e}")
    return df

In [214]:
df_names = get_names(conn)
# df_names

In [215]:
df_all = None
for (idx, name) in df_names.itertuples():
    if debug:
        print(f"Getting {name} values...")
    df = get_data(conn, name, database, start_date, end_date)
    if df_all is None:
        df_all = df
    else:
        if df is not None:
            df_all = df_all.join(df, how='inner')

Getting cell_e_series_tc0_C values...
Getting cell_e_series_tc100_C values...
Getting cell_e_series_tc101_C values...
Getting cell_e_series_tc102_C values...
Getting cell_e_series_tc103_C values...
Getting cell_e_series_tc104_C values...
Getting cell_e_series_tc105_C values...
Getting cell_e_series_tc106_C values...
Getting cell_e_series_tc107_C values...
Getting cell_e_series_tc108_C values...
Getting cell_e_series_tc109_C values...
Getting cell_e_series_tc10_C values...
Getting cell_e_series_tc110_C values...
Getting cell_e_series_tc111_C values...
Getting cell_e_series_tc112_C values...
Getting cell_e_series_tc113_C values...
Getting cell_e_series_tc114_C values...
Getting cell_e_series_tc115_C values...
Getting cell_e_series_tc116_C values...
Getting cell_e_series_tc117_C values...
Getting cell_e_series_tc118_C values...
Getting cell_e_series_tc119_C values...
Getting cell_e_series_tc11_C values...
Getting cell_e_series_tc120_C values...
Getting cell_e_series_tc121_C values...
Getting cell_e_series_tc122_C values...
Getting cell_e_series_tc123_C values...
Getting cell_e_series_tc124_C values...
Getting cell_e_series_tc125_C values...
Getting cell_e_series_tc126_C values...
Getting cell_e_series_tc127_C values...
Getting cell_e_series_tc12_C values...
Getting cell_e_series_tc13_C values...
Getting cell_e_series_tc14_C values...
Getting cell_e_series_tc15_C values...
Getting cell_e_series_tc16_C values...
Getting cell_e_series_tc17_C values...
Getting cell_e_series_tc18_C values...
Getting cell_e_series_tc19_C values...
Getting cell_e_series_tc1_C values...
Getting cell_e_series_tc20_C values...
Getting cell_e_series_tc21_C values...
Getting cell_e_series_tc22_C values...
Getting cell_e_series_tc23_C values...
Getting cell_e_series_tc24_C values...
Getting cell_e_series_tc25_C values...
Getting cell_e_series_tc26_C values...
Getting cell_e_series_tc27_C values...
Getting cell_e_series_tc28_C values...
Getting cell_e_series_tc29_C values...
Getting cell_e_series_tc2_C values...
Getting cell_e_series_tc30_C values...
Getting cell_e_series_tc31_C values...
Getting cell_e_series_tc32_C values...
Getting cell_e_series_tc33_C values...
Getting cell_e_series_tc34_C values...
Getting cell_e_series_tc35_C values...
Getting cell_e_series_tc36_C values...
Getting cell_e_series_tc37_C values...
Getting cell_e_series_tc38_C values...
Getting cell_e_series_tc39_C values...
Getting cell_e_series_tc3_C values...
Getting cell_e_series_tc40_C values...
Getting cell_e_series_tc41_C values...
Getting cell_e_series_tc42_C values...
Getting cell_e_series_tc43_C values...
Getting cell_e_series_tc44_C values...
Getting cell_e_series_tc45_C values...
Getting cell_e_series_tc46_C values...
Getting cell_e_series_tc47_C values...
Getting cell_e_series_tc48_C values...
Getting cell_e_series_tc49_C values...
Getting cell_e_series_tc4_C values...
Getting cell_e_series_tc50_C values...
Getting cell_e_series_tc51_C values...
Getting cell_e_series_tc52_C values...
Getting cell_e_series_tc53_C values...
Getting cell_e_series_tc54_C values...
Getting cell_e_series_tc55_C values...
Getting cell_e_series_tc56_C values...
Getting cell_e_series_tc57_C values...
Getting cell_e_series_tc58_C values...
Getting cell_e_series_tc59_C values...
Getting cell_e_series_tc5_C values...
Getting cell_e_series_tc60_C values...
Getting cell_e_series_tc61_C values...
Getting cell_e_series_tc62_C values...
Getting cell_e_series_tc63_C values...
Getting cell_e_series_tc64_C values...
Getting cell_e_series_tc65_C values...
Getting cell_e_series_tc66_C values...
Getting cell_e_series_tc67_C values...
Getting cell_e_series_tc68_C values...
Getting cell_e_series_tc69_C values...
Getting cell_e_series_tc6_C values...
Getting cell_e_series_tc70_C values...
Getting cell_e_series_tc71_C values...
Getting cell_e_series_tc72_C values...
Getting cell_e_series_tc73_C values...
Getting cell_e_series_tc74_C values...
Getting cell_e_series_tc75_C values...
Getting cell_e_series_tc76_C values...
Getting cell_e_series_tc77_C values...
Getting cell_e_series_tc78_C values...
Getting cell_e_series_tc79_C values...
Getting cell_e_series_tc7_C values...
Getting cell_e_series_tc80_C values...
Getting cell_e_series_tc81_C values...
Getting cell_e_series_tc82_C values...
Getting cell_e_series_tc83_C values...
Getting cell_e_series_tc84_C values...
Getting cell_e_series_tc85_C values...
Getting cell_e_series_tc86_C values...
Getting cell_e_series_tc87_C values...
Getting cell_e_series_tc88_C values...
Getting cell_e_series_tc89_C values...
Getting cell_e_series_tc8_C values...
Getting cell_e_series_tc90_C values...
Getting cell_e_series_tc91_C values...
Getting cell_e_series_tc92_C values...
Getting cell_e_series_tc93_C values...
Getting cell_e_series_tc94_C values...
Getting cell_e_series_tc95_C values...
Getting cell_e_series_tc96_C values...
Getting cell_e_series_tc97_C values...
Getting cell_e_series_tc98_C values...
Getting cell_e_series_tc99_C values...
Getting cell_e_series_tc9_C values...

In [216]:
df_all.head()

,cell_e_series_tc0_C,cell_e_series_tc100_C,cell_e_series_tc101_C,cell_e_series_tc102_C,cell_e_series_tc103_C,cell_e_series_tc104_C,cell_e_series_tc105_C,cell_e_series_tc106_C,cell_e_series_tc107_C,cell_e_series_tc108_C,...,cell_e_series_tc91_C,cell_e_series_tc92_C,cell_e_series_tc93_C,cell_e_series_tc94_C,cell_e_series_tc95_C,cell_e_series_tc96_C,cell_e_series_tc97_C,cell_e_series_tc98_C,cell_e_series_tc99_C,cell_e_series_tc9_C
ts,,,,,,,,,,,,,,,,,,,,,
2019-01-03 15:45:00,5.50685,4.63380,4.61300,4.65720,4.96915,4.83140,4.70395,4.67535,4.47510,4.62595,...,5.28615,4.90160,4.97950,4.23840,4.58695,4.89625,4.65720,5.0497,4.94055,5.6158
2019-01-03 15:50:00,5.47290,4.58155,4.55290,4.62325,4.92980,4.77140,4.64140,4.64660,4.42550,4.57630,...,5.24950,4.85980,4.97940,4.18615,4.54770,4.84420,4.59450,5.0391,4.91710,5.5767
2019-01-03 15:55:00,5.44935,4.54760,4.54500,4.55800,4.89080,4.72440,4.63080,4.61255,4.34465,4.51120,...,5.21820,4.80760,4.99220,4.13130,4.54760,4.79720,4.54760,5.0882,4.87000,5.5506
2019-01-03 16:00:00,5.39970,4.48755,4.49015,4.49795,4.84380,4.65405,4.57340,4.56815,4.28200,4.48760,...,5.17645,4.75285,4.98155,4.10250,4.50055,4.75285,4.48755,5.0466,4.82295,NaN
2019-01-03 16:05:00,5.36820,4.36490,4.36490,4.37010,4.76020,4.51050,4.47930,4.47930,4.14110,4.36490,...,5.09810,4.64060,NaN,3.95880,NaN,4.64580,4.32840,4.9941,4.73420,5.4410